#Compile Class Files
*.class

#Log Files
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

#Ignore all eclipse settings
.settings/

/bin/
FncGLobal.java
/.classpath
src/Functions/FncGlobal.java

export_anita.xml
export_beta.xml
export_jsystem_montalban_offline.xml
export_live.xml
export_live2.xml
export_live_debug.xml
export_offline.xml
export_offline_carmona.xml
